@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0ead2;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

::selection {
  background: transparent;
}

html {
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.max-h-85vh {
  max-height: 85vh; /* Adjust this as per your design */
}

.max-h-80vh {
  max-height: 80vh;
}

.action-button {
  background-color: #6c584c;
  color: white;
}

.cancel-button {
  background: #171717;
  color: white;
}

.remove-button {
  background: red;
  color: white;
}

.light-remove-button {
  border: 2px solid red;
  color: black;
}

input[type='radio']+label div {
  width: 200px;
  height: 200px;
  background: white;
  color: black;
  text-align: center;
}

input[type='radio']:checked+label div {
  background: #6c584c;
  color: white;
}